audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

audio, canvas, img, video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

img {
  border-style: none;
}

h1, h2, h3, h4, h5, h6 {
}

h1, h2, h3, h4, h5, h6 {
}

